@media screen and (max-width:800px) {
    .collection{
        display: none;
    }
    .icons{
        display: none;
    }
    .bar i{
        display: block;
    }
    nav{
        padding: 0 10%;
    }
    .banner_image2{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        grid-gap: 50px;
    }
}

@media screen and (max-width:700px) {
    .first,
    .second,
    .third,
    .forth,
    .fifth{
        text-align: center;
    }
    .btn{
        margin-left: 35%;
    }
    .banner{
        display: grid;
    }
       .banner_image{
        width: 100%;
    }
    .banner_text{
        width: 100%;
    }
}